<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script src="js/FileManager.js"></script>

<body ng-app>
	<ul class="main-menu">
	</ul>

	<ul class="file-list" ng-controller="FileManager">
		<li ng-repeat="file in files">
			<a class="file-name">
				{{file.name}}
			</a>
			<button ng-click="delete()">
				Delete file
			</button>
		</li>
		<li>
			<button ng-click="new()">
				New file
			</button>
		</li>
	</ul>
</body>